

.center {
  /* margin: auto; */
  width:50%;
  padding-top: 25px;
}
.food-item {
    margin: 1rem 0;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;

  }
  
  .food-item__content {
    /* padding: 0; */
    width: 50%;
    /* background-color: #020e21; */
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(32, 28, 28);
    color: teal;

  }
  
  .food-item__info {
    /* padding: 1rem; */
    text-align: center;
    text-shadow:gray;
    color: teal;
    align-content: center;
    text-align: center;
  }
  
  .food-item__info h2,
  .food-item__info h3,
  .food-item__info p {
    margin: 0 0 0.5rem 0;
  }
  
  .food-item__actions {
    /* padding: 1rem; */
    text-align: center;
    border-top: 1px solid #ccc;
  }
  
  .food-item__modal-content {
    /* padding: 0; */
    align-content: center;
    text-align: center;
    justify-content: center;

  }
  
  .food-item__modal-actions {
    text-align: right;
    align-content: center;
    text-align: center;
    justify-content: center;
  }
  
  .food-item__actions button,
  .food-item__actions a {
    margin: 0.5rem;
  }