.foods-list {
    list-style: none;
    /* margin: 1rem auto; */
    padding: 0;
    width: 70%;
    max-width: 140rem;
    /* display: grid;
    grid-template-columns: 600px 600px;
    grid-gap: 0px; */
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    

}