.FoodItemDetails-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
}

.Title {
    font-size: 2cm;
    justify-content: space-evenly;
    flex: 1;
    align-content: center;
}

.FoodItemDetails-items {
    padding: 10px;
    color: black;
    box-shadow: 3px 3px 3px black;
    margin: 1em;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:rgba(163, 184, 193, 0.92);
    align-content: center;
    text-align: center;

}