.List-Items-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    flex-wrap: wrap;
    width: 500px;

}

.List-Items {
    flex: 1;
    width: 500px; /* i want to make this a static size */
    color: black;
    padding: 1em;
    margin: 1em;
    background-color:rgba(163, 184, 193, 0.92); 
    box-shadow: 3px 3px 3px black;
    flex-wrap: wrap;  /*so that text will wrap within each card*/
}

.Food-link {
    color: black;
    /* justify-content: center; */
    padding: 1em;
    /* margin: 1em; */
    /* height: 151px; */
}